<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="codebulb.ch.groovyswissknifeandroidapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <meta-data android:name="DATABASE" android:value="sugar_GroovySwissKnifeAndroidApp.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="ch.codebulb.groovyswissknifeandroidapp.model" />

        <activity
            android:name="ch.codebulb.groovyswissknifeandroidapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.codebulb.groovyswissknifeandroidapp.CardActivity"
            android:label="@string/title_activity_card"
            android:parentActivityName="ch.codebulb.groovyswissknifeandroidapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.codebulb.groovyswissknifeandroidapp.MainActivity" />
        </activity>
        <activity
            android:name="ch.codebulb.groovyswissknifeandroidapp.CardSetActivity"
            android:label="@string/title_activity_card_set"
            android:parentActivityName="ch.codebulb.groovyswissknifeandroidapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.codebulb.groovyswissknifeandroidapp.MainActivity" />
        </activity>
        <activity
            android:name="ch.codebulb.groovyswissknifeandroidapp.CardEditActivity"
            android:label="@string/title_activity_card_edit"
            android:parentActivityName="ch.codebulb.groovyswissknifeandroidapp.CardSetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.codebulb.groovyswissknifeandroidapp.CardSetActivity" />
        </activity>
    </application>

</manifest>
